Options +FollowSymlinks
RewriteEngine on

RewriteCond %{QUERY_STRING} ^p=597$
RewriteRule ^$ http://liancheng.github.com/denial-of-service/? [R=301]

RewriteCond %{QUERY_STRING} ^p=548$
RewriteRule ^$ http://liancheng.github.com/distributed-system-theory-literature/? [R=301]

RewriteCond %{QUERY_STRING} ^p=433$
RewriteRule ^$ http://liancheng.github.com/personal-data-security-2-im-privacy-protection/? [R=301]

RewriteCond %{QUERY_STRING} ^p=338$
RewriteRule ^$ http://liancheng.github.com/personal-data-security-1-protect-personal-privacy-with-gnupg/? [R=301]

RewriteCond %{QUERY_STRING} ^p=280$
RewriteRule ^$ http://liancheng.github.com/synchronize-twitter-and-renren-with-urllib2-and-pyxmpp/? [R=301]

RewriteCond %{QUERY_STRING} ^p=225$
RewriteRule ^$ http://liancheng.github.com/concurrent-programming-in-erlang-part-1-chinese-translation/? [R=301]

RewriteCond %{QUERY_STRING} ^p=211$
RewriteRule ^$ http://liancheng.github.com/snipmate-backquote-esacaping-patch/? [R=301]

RewriteCond %{QUERY_STRING} ^p=85$
RewriteRule ^$ http://liancheng.github.com/four-sins-of-shared-ptr/? [R=301]

RewriteCond %{QUERY_STRING} ^p=20$
RewriteRule ^$ http://liancheng.github.com/wq-2008-2/? [R=301]

RewriteCond %{QUERY_STRING} ^p=1$
RewriteRule ^$ http://liancheng.github.com/wq-2008-1/? [R=301]

RewriteRule ^$ http://liancheng.github.com/
