---
layout: default
title: Home
---

<div class="row-fluid">
  <div class="span9">
    {% for post in paginator.posts %}
      <div class="post">
        {% assign the_post = post %}
        {% include post_header %}
        {{ post.content | replace: 'start -->', '' | replace: '<!-- end', '' }}
        <p><a href="{{ post.url }}" class="btn">More...</a></p>
      </div>
    {% endfor %}
    {% include paginator %}
  </div>
  <div class="span3">
    {% include sidebar %}
  </div>
</div>

{% comment %}}
vim:ft=liquid
{% endcomment %}
