<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"></meta>
    <title>:wq ~/notes &raquo; {{ page.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}"></meta>
    {% endif %}
    <meta name="author" content="{{ site.author.name }}"></meta>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="page-header">
          <h1>
            <a href="/">:wq ~/notes</a>
            <small>Bettern memory than bad HDD</small>
          </h1>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span9">
          {{ content }}
        </div>

        <div class="span3">
          <div class="sidebar-nav">
            <ul class="nav nav-list">

              <li class="nav-header">
                <i class="icon-user"></i> Contact
              </li>
              <li>
                <a href="/about.html">About me</a>
              </li>

              <li class="nav-header">
                <i class="icon-folder-open"></i>
                Categories
              </li>
              {% for cat in site.categories %}
                <li>
                  <a href="/categories.html#category_{{ cat[0] }}">{{ cat[0] }} ({{ cat[1].size }})</a>
                </li>
              {% endfor %}

              <li class="nav-header">
                <i class="icon-tags"></i>
                Categories
              </li>
              {% for tag in site.tags %}
                <li>
                  <a href="/tags.html#tag_{{ tag[0] }}">{{ tag[0] }} ({{ tag[1].size }})</a>
                </li>
              {% endfor %}

              <li class="nav-header">
                <i class="icon-inbox"></i>
                Archives
              </li>
              {% assign date = '' %}
              {% assign count = 0 %}

              {% for post in site.posts %}
                {% capture posted_at %}{{ post.date | date: '%b %Y' }}{% endcapture %}
                {% if date == '' %}
                  {% assign date = posted_at %}
                {% endif %}

                {% if date != posted_at %}
                  <li><a href="/archives.html#archive_{{ post.date | date: '%Y_%m' }}">{{ posted_at }} ({{ count }})</a></li>
                  {% assign date = posted_at %}
                  {% assign count = 1 %}
                {% else %}
                  {% capture count %}{{ count | plus:'1' }}{% endcapture %}
                {% endif %}

                {% if forloop.last %}
                  <li><a href="/archives.html#archive_{{ post.date | date: '%Y_%m' }}">{{ posted_at }} ({{ count }})</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
