<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"></meta>
    <title>{{ site.title }} &raquo; {{ page.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}"></meta>
    {% endif %}
    <meta name="author" content="{{ site.author.name }}"></meta>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/emoticon.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    {% include google_analytics %}
    {% include addthis_head %}
  </head>

  <body>
    {% include page_header %}

    <div class="container-fluid">
      {{ content }}
    </div>

    {% include page_footer %}

    <script src="/static/js/bootstrap.min.js"></script>
    {% include comment_count %}
    {% include mathjax %}
  </body>
</html>

{% comment %}
vim:ft=liquid
{% endcomment %}
