<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"></meta>
    <title>:wq ~/notes &raquo; {{ page.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}"></meta>
    {% endif %}
    <meta name="author" content="{{ site.author.name }}"></meta>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  </head>

  <body>
    <div class="container-fluid">
      {% include page_header %}
      {{ content }}
      {% include page_footer %}
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

{% comment %}
vim:ft=liquid
{% endcomment %}
