---
layout: default
comments: true
---

<div class="row-fluid">
  <div class="span9">
    <div class="post">
      {% assign the_post = page %}
      {% include post_header %}
      {{ content }}
      <div class="well">
        {% include license %}
      </div>
      <hr/>
      <ul class="pager">
        {% if page.previous %}
          <li class="previous"><a class="previous-post" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a></li>
        {% endif %}
        {% if page.next %}
          <li class="next"><a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a></li>
        {% endif %}
      </ul>
      {% if site.debug == false %}
        {% include comment %}
      {% endif %}
    </div>
  </div>
  <div class="span3">
    {% include sidebar %}
  </div>
</div>

{% comment %}
vim:ft=liquid
{% endcomment %}
